
#tipo {
    color: blue; /* Color del texto */
    font-size: 20px; /* Tamaño de la fuente */
    font-weight: bold; /* Negrita */
}

.unir-text {
    font-family: monospace; /* Fuente. Mas Info https://developer.mozilla.org/en-US/docs/Web/CSS/font-family */
}

.unir-header {
    font-style: italic; /* Cursiva */
}

table {
    width: 50%;
    margin: auto; /* Centrar la tabla */
}

td[estilo="impresionista"]:hover { /* Seleccionamos los td que tengan el atributo estilo con valor impresionista, cuando el raton pase por encima */
    background-color: grey;
}

td[estilo="cubista"]:hover {
    background-color: seagreen;
}

td[estilo="abstracto"]:hover {
    background-color: brown;
}

table, th, td { /* Aplicamos estilos a la tabla, a las celdas de cabecera y a las celdas de datos */
    border: 1px solid black;
    text-align: center;
}

td > img { /* Aplicamos estilos a las imagenes que esten dentro de una celda */
    max-width: 250px;
    max-height: 250px;
}

td[estilo="impresionista"] > img { /* Aplicamos estilos a las imagenes que esten dentro de una celda que tenga el atributo estilo con valor impresionista */
    border: 5px solid darkblue;
}

td[estilo="cubista"] > img {
    border: 5px solid darkmagenta;
}

td[estilo="abstracto"] > img {
    border: 5px solid darkorange;
}

h1 + p {
    color: #bb1818; /* Color de fondo */
}


th:hover{
    background-color: #d9534f; /* Color de fondo */
    color: white; /* Color del texto */
    font-size: 20px; /* Tamaño de la fuente */
    font-weight: bold; /* Negrita */
    font-style: italic; /* Cursiva */
    text-decoration: underline; /* Subrayado */
    text-decoration-color: #d9534f; /* Color del subrayado */
    text-decoration-thickness: 2px; /* Grosor del subrayado */

}

p[textType="code"]{
    color: #1874de; /* Color de fondo */
    font-size: 20px; /* Tamaño de la fuente */
    font-weight: bold; /* Negrita */
    font-style: italic; /* Cursiva */
    text-decoration: underline; /* Subrayado */
    text-decoration-color: #d7e3df; /* Color del subrayado */
    text-decoration-thickness: 2px; /* Grosor del subrayado */
}